system/system/apex/com.android.vndk.current.apex
system/system/app/OppoCamera/OppoCamera.apk
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/system_ext/priv-app/SystemUI/SystemUI.apk
vendor/etc/camera/license.lic
